.navbar-color {
    background-color: #fff;
}
.f-grow-0 {
    flex-grow: 0;
}
.carousel {
    max-height: 100%;
}
.carousel-container {
    height: 600px;
    overflow: hidden;
}

.card{
    padding: 356,544;
    
}

 .card-img-top{
    padding: 354×232.65;
    height: 546px;
    height: 356px;
}